*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat Display";
    font-size: 1rem;
    /* Weights: 500, 700, 900 */
    /* Font size (paragraph): 16px */
}

html,body{
    height: 100%;
}

:root{
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/pattern-background-desktop.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--Pale-blue);
}

main{
    width: 420px;
    height: 100%;
    max-height: 660px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 4%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

header img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    pointer-events: none;
}

.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px;
}

.content-text{
    text-align: center;
}

.content-text h1{
    font-size: 1.75rem;
    font-weight: 900;
    color: var(--Dark-blue);
    margin-bottom: 15px;
}

.content-text p{
    font-weight: 500;
    color: var(--Desaturated-blue);
}

.content-plan{
    background-color: var(--Very-pale-blue);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

.content-plan .content-plan-left{
    display: flex;
}

.content-plan-text{
    margin-left: 15px;
}

.content-plan-left img{
    pointer-events: none;
}

.content-plan-text > h2{
    font-weight: 900;
    color: var(--Dark-blue);
}

.content-plan-text > p{
    font-weight: 500;
    color: var(--Desaturated-blue);
}

.content-plan-right > a{
    font-weight: 900;
    color: var(--Bright-blue);
}

.content-plan-right > a:hover{
    text-decoration: none;
    color: #766cf1;
}

.content-submit-order{
    display: flex;
    flex-direction: column;
}

.content-submit-order input{
    height: 50px;
    border: 0;
    border-radius: 10px;
    font-weight: 700;
    color: white;
    background-color: var(--Bright-blue);
    cursor: pointer;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.content-submit-order input:hover{
    background-color: #766cf1;
}

.content-submit-order a{
    text-decoration: none;
    text-align: center;
    margin-top: 25px;
    font-weight: 700;
    color: var(--Desaturated-blue);
}

.content-submit-order a:hover{
    color: var(--Dark-blue);
    font-weight: 900;
}

@media screen and (max-width:375px){
    
    body{
        background-image: url('../images/pattern-background-mobile.svg');
    }

    .container{
        padding: 30px;
    }
}